*,
*::before,
*::after {
  margin: 0;
}

body {
  background: rgb(214, 214, 214);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

.task {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
}

/* TASK 02 */

.task-02 {
  background-color: rgb(117, 75, 156);
}

.terms_wrapper {
  width: 40%;
  height: 60%;
  min-width: 300px;
  max-height: 90vh;
  position: relative;
  background-color: white;
  padding: 40px;
}

.terms {
  max-height: 90%;
  overflow: scroll;
}

.terms p {
  padding: 15px 0;
}

.accept-btn {
  position: absolute;
  bottom: 30px;
  right: 100px;
  width: 200px;
  height: 30px;
  background-color: rgba(0, 173, 173, 0.692);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.accept-btn:active {
  background-color: rgba(1, 107, 107, 0.692);
}

.accept-btn[disabled] {
  opacity: 0.3;
}

/* TASK 01 */

.cards {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-items: center;
  grid-gap: 20px;
  padding: 10px;
}

.card {
  background: white;
  padding: 10px;
}

.card img {
  max-width: 250px;
}

.modal-outer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: grid;
  justify-content: center;
  align-items: center;
  /* Hide modal */
  opacity: 0;
  pointer-events: none;
}

.modal-outer.open {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2s;
}

.modal-inner {
  max-width: 800px;
  min-height: 400px;
  background: white;
  padding: 30px;
}
